$base-white: rgba(255, 255, 255, 1);
$base-black: rgba(0, 0, 0, 1);
$select-grey: rgba(61, 64, 80, 0.85);
$light-blue: rgba(62, 156, 220, 1);
$header-bg: rgba(16, 16, 29, 0.9);
$button-border: rgba(111, 109, 123, 1);
$button-text: rgba(42, 43, 48, 1);
$order-bg: rgba(39, 39, 51, 1);
$text-grey: rgba(187, 187, 187, 1);
$border-color: rgba(40, 102, 144, 1);
$input-bg: rgba(255, 255, 255, 0.85);
$input-text: rgba(39, 39, 51, 1);
$footer-bg: rgba(61, 64, 80, 1);
$socials-grey: rgba(195, 195, 195, 1);

$tablet: 1199px;
$mobile: 767px;
