.select {
  position: relative;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.select select {
  display: none;
}

.select__selected {
  background-color: $input-bg;
  border-radius: 3px;
  user-select: none;
  padding: 13px 35px 13px 10px;
  height: 48px;
  cursor: pointer;
  color: $input-text;
}

.select__selected.select__selected--active {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.select__selected::after {
  position: absolute;
  content: "";
  top: 21px;
  right: 16px;
  width: 9px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6' fill='none'%3E%3Cpath d='M8.93375 1.51079C8.93375 1.43936 8.89803 1.359 8.84446 1.30543L8.39803 0.859C8.34446 0.805429 8.2641 0.769714 8.19268 0.769714C8.12125 0.769714 8.04089 0.805429 7.98732 0.859L4.47839 4.36793L0.969462 0.859C0.91589 0.805429 0.835533 0.769714 0.764105 0.769714C0.683748 0.769714 0.612319 0.805429 0.558748 0.859L0.112319 1.30543C0.0587475 1.359 0.0230331 1.43936 0.0230331 1.51079C0.0230331 1.58221 0.0587475 1.66257 0.112319 1.71614L4.27303 5.87686C4.3266 5.93043 4.40696 5.96614 4.47839 5.96614C4.54982 5.96614 4.63018 5.93043 4.68375 5.87686L8.84446 1.71614C8.89803 1.66257 8.93375 1.58221 8.93375 1.51079Z' fill='black'/%3E%3C/svg%3E");
  transition: transform 0.4s ease;
}

.select__selected.select__selected--active {
  background-color: $select-grey;
  color: $base-white;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6' fill='none'%3E%3Cpath d='M8.93375 1.51079C8.93375 1.43936 8.89803 1.359 8.84446 1.30543L8.39803 0.859C8.34446 0.805429 8.2641 0.769714 8.19268 0.769714C8.12125 0.769714 8.04089 0.805429 7.98732 0.859L4.47839 4.36793L0.969462 0.859C0.91589 0.805429 0.835533 0.769714 0.764105 0.769714C0.683748 0.769714 0.612319 0.805429 0.558748 0.859L0.112319 1.30543C0.0587475 1.359 0.0230331 1.43936 0.0230331 1.51079C0.0230331 1.58221 0.0587475 1.66257 0.112319 1.71614L4.27303 5.87686C4.3266 5.93043 4.40696 5.96614 4.47839 5.96614C4.54982 5.96614 4.63018 5.93043 4.68375 5.87686L8.84446 1.71614C8.89803 1.66257 8.93375 1.58221 8.93375 1.51079Z' fill='white' /%3E%3C/svg%3E");
    transform: rotate(180deg);
  }
}

.select__item {
  padding: 12px 10px;
  cursor: pointer;
  user-select: none;
  &:hover,
  &--selected {
    color: $light-blue;
  }
}

.select__items-container {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $order-bg;
  border: 1px solid $select-grey;
  border-top: none;
}

.select__items {
  @include list;
  margin: 2px 4px 2px 0;
  height: 180px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $light-blue $select-grey;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $select-grey;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-blue;
    border-radius: 20px;
  }
}

.select__items-container--hidden {
  display: none;
}